/* comment */

:root {
	--color1: #f9690e;
	--color2: #f39c12;
}

main {
	margin-top: 20px;
}

.someClass {
	font-family: sans, serif;
}

#someID {
	color: #000000;
	background: yellow;
	border: 1px solid rgba(248, 125, 125, 0.75);
}

div[name="header"] {
	color: var(--color1);
	background: #000000;
}

div ~ ul > li {
	background: var(--color2);
	list-style: none;
}

div:hover {
	width: 110%;
}
